@keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

body{
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    width: 98vw; /* Define a largura total da janela do navegador */
    height: 98vh; /* Define a altura total da janela do navegador */
    background-color: hsl(148, 38%, 91%);
    font-family: "Karla", sans-serif;
}


.attribution{
     font-size: 11px; text-align: center; 
    }

.attribution a{
    color: hsl(228, 45%, 44%);
     }


    .error { 
    font-weight: bold;
    color: hsl(0, 66%, 54%); 
    font-size: 1rem;
 }

.message-tittle{
    display: flex;
    width: 38%;
    flex-direction: row;
    justify-content: space-between;
}

#mensagem-enviada{
    animation: fade-in 0.5s ease-in-out forwards;
    display: none;
    margin-top: -10%;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    background-color: hsl(185,24%,22%);
    padding: 1rem;
    border-radius: 10px;
    color: white;
    font-family: "Karla", sans-serif;
    height: 5rem;
}


main{
    background-color: white;
    border-radius: 10px;
    width: 50%;

}
h1{
    margin: 5% 0% 0% 8%;
    color: hsl(187, 24%, 22%);
}

form{
    display: block;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    width: 100%;
    margin: 5%;
}

.name-section{
    display: flex;
    flex-direction: row;
    margin: 0% 2.5% 2.5% 2.5%;

}

.name{
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-right: 5%;
}

.name input{
    height: 2rem;
    border-radius: 5px;
    border-color: hsl(169, 82%, 27%);
}

.email-content{
    display: flex;
    flex-direction: column;
    margin: 0% 2.5% 0% 2.5%;
}

.email{
    margin-bottom: 2%;
}

.email input{
    border-radius: 5px;
    height: 2rem;
    width: 83.8%;
    border-color: hsl(169, 82%, 27%);
}

.query-type{
    display: flex;
    flex-direction: row;
}

.query-label{
    border-style: groove;
    border-radius: 5px;
    width: 40%;
    margin-right:  5%;
}

.textarea-content{
    display: flex;
    flex-direction: column;
    margin: 2.5% 2.5% 0% 2.5%;
}

.message textarea{
    border-radius: 10px;
    width: 84%;
    height: 5rem;
    resize: none;
    border-color: hsl(169, 82%, 27%);
    border-width: 2px;
}

.message label{
    margin-left: 1%;
}

.query-type{
        display: flex;
        flex-direction: row;
        margin:1px 0% 0% 2.5%;
 
}

.query-label{
    display: flex;
    width: 38%;
    align-items: center;
    height: 2rem;
    border-radius: 10px;
    border-width: 2px;
    border-color: hsl(169, 82%, 27%);
}
span{
    margin: 0% 2.5% 0% 2.5%;
}

.checkbox{
    margin: 2.5%;
}

button{
    margin: 2.5%;
    width: 82%;
    height: 3rem;
    border-radius: 10px;
    background-color: hsl(169, 82%, 27%);
    font-family: "Karla", sans-serif;
    color: white;
    font-size: 16px;
    cursor: pointer;
}
button:hover{
    background-color: hsl(171,83%,14%);

}

